*,::after,::before{
padding: 0;
margin: 0;
box-sizing: border-box;
}
html{
    font-size: 62.5%;

}
/*################################################### utility Classes################################*/
.container{
    max-width: 1200px;
    width:90%;
    margin: 0 auto;
    
}

/*#################################################navbar-items logo##################################################*/
.main{
    /*border: 2px solid red;*/
    /*min-height: 100vh;*/
    scroll-behavior: smooth;
    background: rgb(230, 227, 227);
}
.navbar{
   /* border: 2px solid green;*/
    background: white;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0px;
}
.navigation {
   /* border: 2px solid greenyellow;*/
    display: flex;
    /*justify-content: space-between;*/
}
.navbar-logo{
  /*  border: 2px solid orange;*/
    width: 40%;
    display: flex;
    align-items: center;
    padding: 0.3em;
    
}
.navigation .navbar-logo i{
    font-size: 3.5rem;
    margin-right: 0.4em;
}
.navigation .navbar-logo input{
    height: 2.8rem;
    border-radius: 5px;
    border:none;
    border: 1px solid grey;
    width: 60%;
    transition: all 0.3s ease-in-out;
}
.navigation .navbar-logo input:focus{
    width: 80%;
}

/*################################################### icon-container-styling#####################################*/
/*.icon-container {
border: 2px solid red;
display: flex;
width: 60%;
justify-content: space-between;
/*align-items: center;
}*/
.icon-container-nav{
    display: flex;
    /*border: 2px solid orange;*/
    justify-content: space-between;
    
    width: 60%;
}
.icon-container-nav li{
   /* border: 2px solid red;*/
    text-align: center;
    list-style: none;
    padding: 0.7em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    
    
    
}
.icon-container-nav  li i{
    display: inline-block;
    font-size: 1.8rem;
    color: grey;
    transition: 0.2s ease-in-out;
}
.icon-container-nav li:hover a,.icon-container-nav li:hover i{
    color: rgb(26, 23, 23);
}
.icon-container-nav  li a{
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    padding-top: 0.5em;
   color: grey;
    transition: all 0.2s ease-in-out;
}

.icon-container-nav .premium{
    width: 14%;
}
.for-grid{
    border-left: 1px dotted grey;
}
/*############################################ Content Styling#######################################*/
.content{
    border: 0.1px solid grey;
}
.content-container{
    /*border: 2px solid green;*/
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.content-container .left-content{
    width: 22%;
    /*border: 2px solid orange;*/
    min-height: 500px;
}
.content-container .right-content{
    width: 28%;
   /* border: 2px solid orange;*/
   min-height: 500px;
}
.content-container .mid-content{
    width:49%;
    /*border: 2px solid orange;*/
   min-height: 500px;
}
/*########################################### Left-content #######################################*/
.upper-background{
    height: 6rem;
    background: radial-gradient( rgb(169, 182, 169),rgba(128, 128, 128, 0.733));
}
.profile-user{
   /* border: 2px solid green;*/
  
}

.profile{
    height: 100px;
    width: 100px;
    /*border: 2px solid orange;*/
    margin: 0 auto;
    transform: translateY(-40%);
    border-radius: 50%;
}
.profile-name{
   /* border: 2px solid orange;*/
   padding: 0.5em;
   
    
}
.profile-name a{
    text-decoration: none;
    color: rgb(78, 161, 212);
}
.profile-name a:hover{
    text-decoration: underline;
}
.profile img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    cursor: pointer;
    
}
 .profile-name-heading:hover{
 text-decoration: underline;
 text-decoration-color:  rgb(78, 161, 212);
}
.connections:hover{
    background: gainsboro

}
.profile-user{
   /* border: 2px solid green;*/
    text-align: center;
    

}
.profile-user .profile-name h1{
    font-size: 2rem;
    padding: 0.3em;
}
.profile-user .profile-name a{
    font-size: 1.5rem;
}
.connections{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: 1em;
    padding-bottom: 0.8em;
    transition: all 0.2s ease-in-out;
    padding-left:0.4em;
    padding-right:0.4em ;
}
.connections:hover{
    background: rgb(238, 235, 235)

}
.connections span{
    display: block;
    font-size: 1.5rem
}
.connections-heading{
    color: grey;
}
.connections-icon{
   /* border: 2px solid green;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.connections-icon i{
 font-size: 1.5rem;
 
}
.connections-try{
    border-bottom: 1px solid grey;
    padding: 0.4em;
    transition: all 0.2s ease-in-out;
}
.connections-try:hover{
    background:rgb(241, 239, 239);
}
.connections-try span{
    font-size: 1.5rem;
    display: block;
    
   
}
.myitems{
    /*border: 1px solid grey;*/
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
}
.myitems:hover{
    background: rgb(245, 243, 243);
}
.myitems i{
    margin-left: 0.8em;
    margin-right: 0.8em;
}
.myitems span{
    display: block;
    padding: 0.4em;
    font-weight: 600;
}
.left-content-bar{
    border: 1px solid grey;
    border-radius: 7px;
    background: white;
}
.event{
    border: 1px solid grey;
    margin-top: 0.4em;
    min-height: 100px;
    border-radius: 7px;
   background: white;
    position: relative;
}
.event ul{
display: flex;
flex-direction: column;
padding: 0.8em;

}
.event ul li{
    list-style: none;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.event ul li a{
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(86, 165, 230);
   
}
.event ul li a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(86, 165, 230); ;
}
.event span{
    position: absolute;
    top:30%;
    right: 25px;
    font-size: 3rem;
    color: rgb(26, 24, 24);
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    padding: 0.3em;
}
.event span:hover{
    background: rgba(189, 188, 188, 0.829);
    border-radius: 50%;
    
}
.discover-more{
    border-top: 1px solid grey;
    font-size: 1.5rem;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    text-align: center;
  
}
.discover-more a{
    text-decoration: none;
    color: grey;
    font-weight: 700;
}
.discover-more:hover{
    background: rgb(230, 227, 227);
}
/*######################################################### Mid content Styling##########################################*/
.mid-content-bar{
    border: 1px solid grey;
    border-radius: 5px;
    background: white;
}
.mid-content-share{
  /*  border: 2px solid green;*/
    display: flex;
    align-items: center;
    padding: 0.8em;
    justify-content: space-around;
}
.mid-content-share input{
    display: block;
    width: 87%;
    margin-left: 1em;
    height: 3.8rem;
    border-radius: 30px;
    outline: none;
    border: 1px solid grey;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
}
.mid-content-share input:hover{
    background: rgb(224, 222, 222);
}
.mid-content-image{
    height: 50px;
    width: 50px;
   /* border: 2px solid orange;*/
   
    
    border-radius: 50%;
}
.mid-content-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 50%;
}
.mid-content-icons{
   /* border: 2px solid green;*/
    padding: 0.3em;
}
.mid-content-icons ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.mid-content-icons ul li{
    list-style: none;
    text-align: center;
    border-radius: 7px;
    
}
.mid-content-icons ul li a{
    text-decoration: none;
    font-size: 1.8rem;
    padding: 0.5em;
}
.mid-content-icons ul li i{
    font-size: 2rem;
    margin: 0.5em;
}
.mid-content-icons ul li:hover{
    background: rgb(212, 209, 209);

}
/*################################################################## Mid-content-post styling ################################ */
.mid-content-post{
    border: 1px solid grey;
    margin-top: 0.5em;
    padding: 0.4em;
    border-radius: 5px;
    position: relative;
    background: white;
}
.follow{
    position: absolute;
    top: 8%;
    right: 20px;
    
}
.follow a{
    text-decoration: none;
    font-size: 2rem;
    color: rgb(72, 127, 228);
    padding: 0.3em;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}
.follow a:hover{
    background-color: rgba(128, 175, 219, 0.788);
}
.mid-content-suggested{
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.4em;
    padding-left: 0.8em;
    
}
.mid-content-suggested li{
    list-style: none;
    font-size: 1.6rem;
    color: grey;
    
}
.mid-content-suggested span{
    
    margin: 0.3em;
    font-weight: 800;
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    padding: 0.4em;

}
.mid-content-suggested span:hover{
background: rgb(207, 205, 205);
}
.mid-content-profile{
  width: 50px;
  height: 50px;
  /*border: 2px solid green;*/
  border-radius: 50%;
  margin: 0.3em;
}
.mid-content-profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    display: block;
    border-radius: 50%;
}
.mid-content-profile-name{
    /*border: 2px solid green;*/
    padding: 0.4em;
    

}
.mid-content-profile-name h3{
    font-size: 1.8rem;
    
}
.mid-content-profile-name p{
    font-size: 1.5rem;
    color: grey;
    font-weight: 400;
}
.mid-content-profile-container{
    display: flex;
    align-items: center;
}
.mid-content-profile-data p{
    /*border: 2px solid orange;*/
    font-size: 1.5rem;
    padding: 0.4em;

}
.mid-content-post-image{
    width: 100%;
    height: 60rem;
   /* border: 2px solid green;*/

}
.mid-content-post-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}
.mid-content-base .like{
   /* border: 2px solid green;*/
 display: flex;
 justify-content: space-between;
 font-size: 2.5rem;
 padding: 0.3em;

}
.mid-content-base i, .mid-content-base span{
    display: block;
    
}
.mid-content-base-icons ul{
 display: flex;
 justify-content: space-between;
 padding: 0.8em;

}
.mid-content-base-icons ul li {
    list-style: none;
    border-radius: 8px;
    padding: 0.5em;
    transition: all 0.5s ease-in-out;
}
.mid-content-base-icons ul li:hover{
    background: rgb(219, 216, 216);
}
.mid-content-base-icons ul li i{
    display: inline-block;
    font-size: 2rem;
    margin-left: 0.4em;
    margin-right: 0.4em;
    
}
.mid-content-base-icons ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: grey;
}

/*############################################### Right-content-styling############################################*/
.right-content-bar{
   border: 1px solid grey;
   background: white;
   border-radius: 7px;
}
.right-content-heading{
    /*border: 2px solid greenyellow;*/
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 0.6em;
    align-items: center;
}
.right-content-heading i{
    cursor: pointer;
   
}
.right-content-news-items{
     /*border: 2px solid green;*/
     padding: 0.4em;
}
.right-content-news-items ul{
   width: 90%;
    margin: 0 auto;
}
.right-content-news-items li{
   /* border: 2px solid greenyellow;*/
    padding: 0.3em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    transition: all 0.2s ease-in-out;
    
}
.right-content-news-items li:hover{
    background: rgb(214, 212, 212);
}
.right-content-news-items li a {
    display: block;
    font-size: 1.6rem;
    /*word-spacing: 4px;*/
    text-decoration: none;
   font-weight: 600;
    color: black;

}
.right-content-news-items li span{
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    color: grey;
    padding: 0.3em;
}
.right-content-news-items li i{
    font-size: 0.8rem;
    margin: 0.3em;
}
.right-content-news-items .show-more{
   /* border: 2px solid green;*/
    padding: 0.4em;
    text-align: center;
    color: grey;
    border-radius: 10px;
    width: 12rem;
    margin-left: 1.5em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    font-size: 1.5rem;
    font-weight: 600;
    background: none;
    transition: all 0.2s ease-in-out;

    
}
.right-content-news-items .show-more:hover{
    background: rgb(226, 224, 224);
}
.right-content-connect{
    border: 1px solid grey;
    margin-top: 0.6em;
    padding: 1em;
    position: relative;
    border-radius: 7px;
    background:white;
  
  
}
.right-content-connect .right-content-connect-premium{
    text-align: center;
    font-size: 1.3rem;
    color: grey;
    display: block;
    margin-top: 0.6em;
}
.right-content-connect i{
    
   font-size: 10rem;
   margin-left: 1em;
   margin-top: 0.2em;
   margin-bottom: 0.2em;
   
}
.right-content-connect h3{
    /*border: 2px solid red;*/
    width: 90%;
    font-size: 1.6rem;
    margin: 0 auto;
    text-align: center;
    padding: 0.3em;
    font-weight: 600;
}
.right-content-connect button{
    border: 2px solid blue;
    color: blue;
    border-radius: 30px;
    text-align: center;
    padding: 0.5em;
    font-size: 1.5rem;
    width: 11rem;
   
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    cursor: pointer;
   
}

.add-icon{
    position: absolute;
    top: 3%;
    right: 20px;
    font-size: 1.5rem;
}
.add-icon a{
    text-decoration: none;
    color: black;
}
.right-content-connect-container{
   /* border:2px solid orange;*/
    top: 200px;
    position: sticky;
   margin-top: 0.8em;
  
    
}
/*#################################################### Footer Styling#########################################*/
.footer{
    /*border: 2px solid green;*/
    width: 100%;
   
    margin-top: 0.8em;
    

}
.footer-container{
    width: 90%;
    margin: 0 auto;
    /*border: 2px solid green;*/
    padding: 0.8em;
    
    
}
.footer p{
    text-align: center;
}
.footer span a{
   
    font-size: 1.5rem;
    margin: 0.6em;
    padding: 0.4em;
    text-decoration: none;
    color: grey;



}
.footer-logo{
   /* border: 2px solid green;*/
    margin-top: 0.4em;
}
.footer-logo .linkedin-logo{
 font-size: 1.3rem;
 color: rgb(52, 99, 187);
 font-weight: 800;
 display: inline;
}
.footer-logo i{
    font-size: 2rem;
    color: rgb(52, 99, 187);
    margin-right: 0.4em;
    display: inline-block;
    
}
.footer-logo h3{
 display: inline;
 font-size: 1.6rem;
 font-weight: 500;
}
@media (max-width:768px){
    .left-content,.right-content{
        display: none;
    }
    .content-container .mid-content{
        width: 100%;
    }
}